In [77]:
#Data Extraction using the twitter API
#import libraries
import pandas as pd
from collections import Counter
import tweepy
import re
import nltk
#nltk.download('stopwords')
from textblob import TextBlob 
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import matplotlib.pyplot as plt
from nltk.stem import PorterStemmer
#import snscrape.modules.twitter as sntwitter

In [78]:
#generate tokens
API_KEY = 'kkBWYP1Vh3qwIUQZtnDcwZpSi'
API_Key_Secret = 'LA2BILmgo8Jn2BiKsRCFa7muUyPqjE6aStNL96iT4E6dMlZOhn'
bearer_token = 'AAAAAAAAAAAAAAAAAAAAALmDhAEAAAAAo00TTYY5BIu%2FcnSpPmpHGzlk7Ro%3Dw6fjC6W57HeVqQkthB5royMsaHfAkBBx9FoZNZmjUVvux8YSpK'
client_ID = 'REx5dnpzS1ZiVGJrMG11SE5vTFo6MTpjaQ'
client_Secret = 'e777iEEupUDprYJ3FjkbMdVH4do9r6J1ZPu3L85CBqbjOyqvvS'

In [79]:
#create authenticate object
authenticate = tweepy.OAuthHandler(client_ID, client_Secret)

#set access tokens
authenticate.set_access_token(API_KEY, API_Key_Secret)

#create client object
client = tweepy.Client(bearer_token)

In [80]:
#make queries
query = 'threat OR terrorism OR Jihad OR extremist OR violence -is:retweet lang:en'
tweets = client.search_recent_tweets(query=query, max_results=100)

In [81]:
#creating a dataframe
tweets_df = pd.DataFrame([tweet.text for tweet in tweets.data], columns=['Tweets'])

In [82]:
tweets_df["Tweets"] = tweets_df["Tweets"].str.lower()
tweets_df

                                               Tweets
0   rt @johnmoralestv: “in the span between sunday...
1   rt @muradsaeedpti: shehbaz sharif,  maryam naw...
2   @carbonlolly @aintscarylarry @dixoncox12 what ...
3   rt @jysexton: and it’s almost like the wealth ...
4   @paulallen262 @79blakey @navylookout @bwallace...
..                                                ...
95  rt @jkoff609: @ziggystardogs @paulstetson13 @d...
96  #thailand: according to data from the royal th...
97  uk: wembley hindu temple’s chairman gives a me...
98  rt @projectlincoln: joe biden was elected to r...
99  i support domestic violence from the woman in ...

[100 rows x 1 columns]

In [83]:
#Pre-processing tweets

#Cleaning the data
#First approach 
def clean_tweets(text):
    text = re.sub(r'@[A-Za-z0-9]+','',text) #removing @ mentions
    text = re.sub(r'#','',text) #removing the # symbols
    text = re.sub(r'rt[\s]+','',text) #removing the RT
    text = re.sub(r'https?:\/\/\S+','',text) #removing the hyperlinks
    text = re.sub('[\s]+', ' ', text)
    text = re.sub('[\n]+', ' ', text)
    text = re.sub(r'[^\w]', ' ', text)
    text = re.sub(r'hxxps?:\/\/\S+','',text)
    text = re.sub(r'(.)\1+', r'\1\1', text)
    text = re.sub('[()!:?]', ' ', text)
    text = re.sub(r'[0-9]+','',text) #removing numbers
    text = re.sub(r'\&\w*;','',text) #removing html entities
    text = re.sub(r'\$\w*','',text) #removing tickers

    EMOJI_PATTERN = re.compile(
    "(["
    "\U0001F1E0-\U0001F1FF"  # flags (iOS)
    "\U0001F300-\U0001F5FF"  # symbols & pictographs
    "\U0001F600-\U0001F64F"  # emoticons
    "\U0001F680-\U0001F6FF"  # transport & map symbols
    "\U0001F700-\U0001F77F"  # alchemical symbols
    "\U0001F780-\U0001F7FF"  # Geometric Shapes Extended
    "\U0001F800-\U0001F8FF"  # Supplemental Arrows-C
    "\U0001F900-\U0001F9FF"  # Supplemental Symbols and Pictographs
    "\U0001FA00-\U0001FA6F"  # Chess Symbols
    "\U0001FA70-\U0001FAFF"  # Symbols and Pictographs Extended-A
    "\U00002702-\U000027B0"  # Dingbats
    "])"
    )
    text = re.sub(EMOJI_PATTERN, r' \1 ', text)
    
    return text

In [84]:
#function to stem word


#Applying functions to the  tweets
#cleaned tweets
tweets_df["Tweets"] = tweets_df["Tweets"].apply(clean_tweets)

#removing stopwords 
stop_words = stopwords.words('english')
tweets_df['Tweets'] = tweets_df['Tweets'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop_words)]))

#Tokenization
#tweets_df['Tweets'] = tweets_df.apply(lambda row: nltk.word_tokenize(row['Tweets']), axis=1)

#tweets_df['Tweets'] = tweets_df.apply(_stem)

tweets_df.head()

                                              Tweets
0  span sunday night early tuesday morning ian wi...
1  shehbaz sharif maryam nawaz massive audio leak...
2  threat peace potus biden takes abandon b equip...
3  almost like wealth class equivocates authorita...
4  another budget january way world happening tod...

In [85]:
#Saving the cleaned data into a csv file
tweets_df.to_csv('clean_data3.csv', index = True)